@import "./variables.scss";

// @mixin btn {
//   background-color: red;
//   padding: 3rem;
//   border-radius: 11px;
//   color: #fff;
// }
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  @include btn;
}

.btn:hover {
  background-color: $color-secondary;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.245);
  backdrop-filter: blur(6px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  display: none;
}
