$color-primary: blue;
$color-secondary: red;
//sadfas
@mixin btn {
  background-color: $color-primary;
  padding: 3rem;
  border-radius: 11px;
  color: #fff;
  cursor: pointer;
}

.container {
  max-width: 600px;
  padding: 30px;
  margin: 0 auto;
  background-image: linear-gradient(#38d9a9, #3bc9db);
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  border-radius: 11px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.427);
}

h1 {
  color: rgb(15, 37, 125);
  font-size: 1.8rem;
}

img {
  position: absolute;
  height: 20rem;
  z-index: 200;
}

body {
  background-color: #ffc9c9;
  position: relative;
}
